src/main/mule/worldtime-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="1ca4a224-d596-4cc1-b5cf-1ec44e00c54e" basePath="/timezone">
		<http:listener-connection host="0.0.0.0" port="${http.port}" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="41c90c53-7a55-421a-b97a-f2b04ffa65bd" basePath="/api/timezone" >
		<http:request-connection host="worldtimeapi.org" />
	</http:request-config>
	<configuration-properties doc:name="Configuration properties" doc:id="9aaee0f9-3cf1-48b4-898a-048973beffb3" file="app.properties" />
	<flow name="worldtime-apiFlow" doc:id="3140b34e-e368-47f4-84fc-c74c62c55980" >
		<http:listener doc:name="Listener" doc:id="4b3cb5b7-f48a-4399-bd90-1efddf0b5a95" config-ref="HTTP_Listener_config" path="/{region}/{city}"/>
		<http:request method="GET" doc:name="Request" doc:id="da67abc3-fad4-47b9-a6c2-01d3b63a315b" config-ref="HTTP_Request_configuration" path="/{region}/{city}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	city : attributes.uriParams.city,
	region : attributes.uriParams.region
}]]]></http:uri-params>
		</http:request>
	</flow>
</mule>
